@import "./base.css";
#app {
  height: 100vh;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #eff6ff !important;
  }
}

.router-link-active.router-link-exact-active {
  color: #409eff !important;
  font-weight: 500;
}
